*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/
wp-content/themes/
wp-content/themes/optimizePressTheme/pages/marketing/1/template.php


#configuracion adicional
bower_components/
node_modules/
vendor/
dev/
prod/
docs/
fonts/
images/
tpl/
*.log
prueba.php
index2.php
fac-defines.php
!public/fonts/
!public/images/
!public/tpl/
facturame_web.sql
robots.txt

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# sublimetext
/*.sublime-project
*.sublime-workspace